html {
   min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    
    background: -moz-linear-gradient(top,  rgba(147,147,147,0.78) 0%, rgba(152,152,152,0.78) 10%, rgba(168,168,168,0.27) 42%, rgba(196,196,196,0.14) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,147,147,0.78)), color-stop(10%,rgba(152,152,152,0.78)), color-stop(42%,rgba(168,168,168,0.27)), color-stop(100%,rgba(196,196,196,0.14))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(147,147,147,0.78) 0%,rgba(152,152,152,0.78) 10%,rgba(168,168,168,0.27) 42%,rgba(196,196,196,0.14) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(147,147,147,0.78) 0%,rgba(152,152,152,0.78) 10%,rgba(168,168,168,0.27) 42%,rgba(196,196,196,0.14) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(147,147,147,0.78) 0%,rgba(152,152,152,0.78) 10%,rgba(168,168,168,0.27) 42%,rgba(196,196,196,0.14) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(147,147,147,0.78) 0%,rgba(152,152,152,0.78) 10%,rgba(168,168,168,0.27) 42%,rgba(196,196,196,0.14) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7939393', endColorstr='#24c4c4c4',GradientType=0 ); /* IE6-9 */
}

.hideElement {
    display: none;
}

.showElement {
    display: inline-block;
}

#elementTip{
    position : absolute;
    border : 1px solid gray;
    background-color : #efefef;
    padding : 3px;
    z-index: 1000;
    /* set this to create word wrap */
    max-width: 200px;
}

#raphaelCanvasEnvelope {
    min-width: 400px;
}

#controlsEnvelope {
    min-width: 500px;
}

.entryControl{
    min-width: 600px;
}

.sliderSpan {
    display: inline-block;
    width: 400px;
    padding: 0 5px;    
}

#extraForceSpan {
    width: 400px;
    padding: 0 5px;
}

#pageFlipMsg {
    width: 80px;
    height: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#pageFlipImg {
    width: 80px;
    height: 83px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#languageSelector {
    float: left;
}

.topGrid {
    margin-top: 15px;
}

.normalGrid {
    margin-top: 10px;
}

.topCheckbox {
    margin-top: 0px;
}

.normalCheckbox {
    margin-top: 10px;
}

#controlsDiv {
    margin-top: 0px; 
}