#pageflip {
    position: relative;
    right: 0;
    top: 0px; /* Cambiar a 30px si tienes la navbar (barra de navegación) */
    float: right;
    z-index:9;
}

#pageflip img {
    width: 80px;
    height: 83px;
    z-index: 99;
    position: absolute;
    right: 0;
    top: 0;
    -ms-interpolation-mode: bicubic;
    max-width: none;
}

#pageflip .msg_block {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    background: url('../img/pagePeelUserInfo.png') no-repeat right top;
}

#pageflipMirror {
    position: static;
    right: 0;
    top: 0;
    float: right;
}